@use "@variables" as *;
@use "@utils" as *;

.container {
  padding: to-rem(28px) to-rem(20px);
  background-color: $very-light-gray;
  color: $black;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.containerOpen {
  background-color: $black;
  color: $white;
}

.logo {
  font-family: var(--font-inter), sans-serif;
  font-weight: 800;
  font-size: to-rem(18px);
}

.navigationContainer {
  display: flex;
  position: absolute;
  top: to-rem(80px);
  height: calc(100vh - to-rem(80px));
  left: 0;
  width: 100%;
  flex-direction: column;
  background-color: $black;
  z-index: 1;
  align-items: flex-start;
  gap: to-rem(30px);
  opacity: 0;
  pointer-events: none;
  padding: to-rem(30px) to-rem(23px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.button {
  color: $white;
  font-size: to-rem(14px);
  background-color: transparent;
  border: none;
  border-bottom: to-rem(1px) solid transparent;
  font-family: var(--font-roboto), sans-serif;
  transition: border-color 0.3s ease;
  &:hover {
    border-color: currentColor;
    cursor: pointer;
  }
}

.iconButton {
  width: to-rem(31px);
  height: to-rem(31px);
  color: $white;
  background-color: transparent;
  border: to-rem(1px) solid $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureOptionContainer {
  color: $white;
  display: flex;
  gap: to-rem(5px);
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.menuContainer {
  display: flex;
  gap: to-rem(36px);
  margin-top: auto;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.menuButton {
  display: block;
  height: to-rem(24px);
  width: to-rem(24px);
  border: none;
  background-color: transparent;
}

.mobileContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cartIcon {
  padding-right: to-rem(1px);
}

.heavyButton {
  font-weight: 600;
}

.navOpen {
  opacity: 1;
  pointer-events: auto;
}

.navClosed {
  opacity: 0;
  pointer-events: none;
}

@media (min-width: 1024px) {
  .container {
    padding: to-rem(40px) to-rem(60px) 0 to-rem(60px);
    position: relative;
    z-index: 0;
  }

  .navigationContainer {
    align-items: center;
    gap: to-rem(30px);
    opacity: 1;
    background-color: transparent;
    height: auto;
    position: relative;
    flex-direction: row;
    top: 0;
    padding: 0;
    width: fit-content;
    pointer-events: all;
  }

  .menuContainer {
    width: fit-content;
    padding-left: to-rem(21px);
    margin: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .logo {
    font-size: to-rem(24px);
  }

  .menuButton {
    display: none;
  }

  .featureOptionContainer {
    color: $black;
  }

  .button {
    color: $erie-black;
    font-size: to-rem(16px);
  }

  .iconButton {
    color: $black;
    border-color: $black;
  }
}

@media (min-width: to-rem(1440px)) {
  .container {
    padding: to-rem(40px) to-rem(100px) 0 to-rem(100px);
  }

  .navigationContainer {
    gap: to-rem(47px);
  }
}
