@use "@variables" as *;
@use "@utils" as *;

.radioInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radioLabel {
  display: inline-flex;
  align-items: center;
  gap: to-rem(10px);
  cursor: pointer;
  user-select: none;
}

.radioTitle {
  font-weight: 600;
  font-size: to-rem(14px);
  line-height: to-rem(20px);
}

.radioIconUnchecked {
  display: block;
}

.radioIconChecked {
  display: none;
}

.radioInput:checked + .radioLabel .radioIconChecked {
  display: block;
}
.radioInput:checked + .radioLabel .radioIconUnchecked {
  display: none;
}
