.radioInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radioLabel {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.radioTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.radioIconUnchecked {
  display: block;
}

.radioIconChecked {
  display: none;
}

.radioInput:checked + .radioLabel .radioIconChecked {
  display: block;
}
.radioInput:checked + .radioLabel .radioIconUnchecked {
  display: none;
}
