@use "@variables" as *;
@use "@utils" as *;

.input {
  flex: 1;
  font-family: var(--font-poppins), "sans-serif";
  font-size: to-rem(14px);
  font-weight: 500;
  line-height: to-rem(20px);
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $mid-gray;
  color: $mid-gray;
  outline: 0 !important;
  &:focus {
    border-color: $black;
    color: $black;
  }
  transition: border-color 0.2s ease;
}

.inputLabel {
  font-weight: 500;
  font-size: to-rem(12px);
  color: $mid-gray;
  transition: color 0.2s ease;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  height: to-rem(55px);
  &:focus-within .inputLabel {
    color: $black;
  }
  &:has(.input:valid) .inputLabel {
    color: $black;
  }
}
