@use "@variables" as *;
@use "@utils" as *;

.container {
  position: relative;
  font-family: var(--font-poppins), sans-serif;
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: to-rem(5px) to-rem(20px) to-rem(40px) to-rem(20px);
  gap: to-rem(20px);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: to-rem(10px);
  align-items: center;
}

.titleHeader {
  font-weight: 700;
  font-size: to-rem(24px);
}

.titleText {
  color: #717171;
  font-weight: 500;
  font-size: to-rem(14px);
  text-wrap: auto;
  max-width: to-rem(200px);
  text-align: center;
}

.contentContainer {
  display: flex;
  background-color: $white;
  border-radius: to-rem(15px);
  min-width: to-rem(320px);
  flex-direction: column;
  padding: to-rem(5px);
  height: fit-content;
}

.infoContainer {
  background-color: $black;
  color: $white;
  border-radius: to-rem(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: to-rem(310px);
  align-items: center;
  padding-top: to-rem(15px);
  gap: to-rem(12px);
}

.infoHeader {
  font-weight: 600;
  font-size: to-rem(20px);
}

.infoText {
  font-size: to-rem(11px);
  color: $light-gray;
}

.infoFieldContainer {
  display: flex;
  flex-direction: column;
  text-wrap: auto;
  max-width: to-rem(250px);
  text-align: center;
  gap: to-rem(15px);
}

.svgWrapper {
  min-width: to-rem(24px);
  min-height: to-rem(24px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoField {
  flex-direction: column;
  align-items: center;
  font-size: to-rem(12px);
  gap: to-rem(10px);
  display: flex;
}

.footerContainer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-end;
  padding-left: to-rem(80px);
}

.footerButton {
  border-radius: 50%;
  height: to-rem(30px);
  width: to-rem(30px);
  border: none;
  background-color: $very-dark-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: $black;
    background-color: $white;
    cursor: pointer;
  }
}

.buttonContainer {
  display: flex;
  gap: to-rem(24px);
  align-items: flex-end;
  padding-bottom: to-rem(25px);
  margin-left: auto;
  margin-right: auto;
}

.circlesMobile {
  display: inline;
}

.circlesDesktop {
  display: none;
}

.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: to-rem(30px) to-rem(16px) to-rem(0px) to-rem(16px);
  gap: to-rem(20px);
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: to-rem(20px);
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  gap: to-rem(10px);
  padding-top: to-rem(5px);
}

.radioPair {
  display: flex;
  gap: to-rem(14px);
}

.radioContainer {
  display: flex;
  line-height: to-rem(20px);
  font-size: to-rem(12px);
  flex-wrap: wrap;
  row-gap: to-rem(14px);
  column-gap: to-rem(20px);
}

.radioInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radioLabel {
  display: inline-flex;
  align-items: center;
  gap: to-rem(10px);
  cursor: pointer;
  user-select: none;
}

.radioTitle {
  font-weight: 600;
  font-size: to-rem(14px);
  line-height: to-rem(20px);
}

.radioIconUnchecked {
  display: block;
}

.radioIconChecked {
  display: none;
}

.radioInput:checked + .radioLabel .radioIconChecked {
  display: block;
}
.radioInput:checked + .radioLabel .radioIconUnchecked {
  display: none;
}

.submitButton {
  background-color: $black;
  color: $white;
  border: none;
  border-radius: to-rem(5px);
  font-weight: 500;
  font-family: var(--font-poppins), sans-serif;
  width: 100%;
  padding: to-rem(10px) 0;
  font-size: to-rem(13px);
}

.submitButtonWrapper {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: to-rem(5px);
  align-items: flex-end;
}

.letterSendDesktop {
  display: none;
}

.letterSendMobile {
  display: block;
  align-self: center;
  margin-right: to-rem(70px);
  transform: rotate(-30deg);
}

.messageInput {
  padding-bottom: to-rem(5px);
}

@media (min-width: 1024px) {
  .container {
    width: to-rem(800px);
    padding: to-rem(25px) 0 0 0;
    gap: to-rem(50px);
  }

  .titleHeader {
    font-size: to-rem(40px);
  }

  .titleText {
    font-size: to-rem(18px);
    max-width: fit-content;
  }

  .contentContainer {
    width: to-rem(800px);
    height: to-rem(667px);
    padding: to-rem(10px);
    flex-direction: row;
  }

  .infoContainer {
    padding-left: to-rem(20px);
    padding-top: to-rem(20px);
    align-items: flex-start;
    gap: to-rem(0px);
  }

  .infoHeader {
    font-size: to-rem(28px);
    padding-bottom: to-rem(6px);
  }

  .infoText {
    font-size: to-rem(18px);
  }

  .infoField {
    flex-direction: row;
    align-items: flex-start;
    gap: to-rem(25px);
    font-size: to-rem(16px);
  }

  .infoFieldContainer {
    gap: to-rem(50px);
    max-width: to-rem(350px);
    text-align: start;
    padding-top: to-rem(20px);
  }

  .footerContainer {
    padding: 0;
    justify-content: space-between;
    border-radius: to-rem(10px);
  }

  .circlesDesktop {
    display: block;
  }

  .circlesMobile {
    display: none;
  }

  .buttonContainer {
    padding-bottom: to-rem(36px);
    margin: 0;
  }

  .formContainer {
    padding: to-rem(50px) to-rem(50px) 0 to-rem(50px);
    gap: to-rem(45px);
  }

  .formRow {
    gap: to-rem(39px);
    flex-direction: row;
  }

  .radioWrapper {
    gap: to-rem(14px);
    padding: 0;
  }

  .radioContainer {
    gap: to-rem(20px);
  }

  .radioPair {
    gap: to-rem(20px);
  }

  .submitButton {
    padding: to-rem(15px) to-rem(48px);
    font-size: to-rem(16px);
    margin: to-rem(0px);
    width: fit-content;
  }

  .letterSendMobile {
    margin-right: 0;
    position: relative;
  }

  .messageInput {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    width: to-rem(1196px);
  }

  .contentContainer {
    width: to-rem(1196px);
  }

  .infoContainer {
    padding-left: to-rem(40px);
    padding-top: to-rem(40px);
    width: to-rem(491px);
  }

  .infoFieldContainer {
    padding-top: to-rem(111px);
  }

  .submitButtonWrapper {
    gap: to-rem(10px);
  }

  .letterSendDesktop {
    display: block;
    transform: rotate(-30deg);
    margin-right: to-rem(80px);
  }

  .letterSendMobile {
    display: none;
  }

  .fieldInput {
    width: to-rem(278px);
  }
}
