@use "variables.scss" as *;
@use "utils.scss" as *;

.page {
  background-color: $very-light-gray;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: to-rem(10px);
}

@media (min-width: 1440px) {
  .page {
    gap: to-rem(50px);
  }
}
