.page {
  background-color: var(--very-light-gray);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

@media (max-width: 360px) {
  .page {
    gap: 10px;
    background-color: var(--very-light-gray);
    height: 100%;
  }
}
