$very-light-gray: #e0e0e0;
$black: #000000;
$white: #ffffff;
$erie-black: #1f1f1f;
$very-dark-gray: #1b1b1b;
$dark-gray: #1e1e1e;
$chinese-black: #131313;
$granite-gray: #616161;
$light-gray: #c9c9c9;
$mid-gray: #8d8d8d;
