.container {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  padding-bottom: 46px;
}

.logo {
  font-family: var(--font-inter), sans-serif;
  font-weight: 800;
  font-size: 36px;
  padding-bottom: 24px;
}

.contentContainer {
  font-family: var(--font-poppins), sans-serif;
  display: flex;
  border-top: 1px solid var(--white);
  width: 100%;
  padding: 20px;
  padding-right: 0px;
  gap: 60px;
}

.contentContainer > :first-child {
  margin-right: auto;
}

.contentContainer > :last-child {
  margin-left: auto;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 24px;
}

.sectionField {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.sectionHeader {
  font-family: var(--font-poppins), sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -4px;
}

.subscribeForm {
  display: flex;
  flex-direction: column;
  background-color: var(--chinese-black);
  border-radius: 10px;
  padding: 14px;
  padding-bottom: 21px;
  max-width: 305px;
  align-self: flex-start;
  gap: 20px;
}

.subscribeFormHeader {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 10px;
}

.subscribeFormInput {
  outline: 0 !important;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  padding-left: 10px;
  color: var(--granite-gray);
  background-color: var(--dark-gray);
  width: 100%;
}

.subscribeFormInputContainer {
  display: flex;
}

.subscribeFormInfo {
  text-wrap: "auto";
  font-family: var(--font-manrope), sans-serif;
  font-weight: 500;
  font-size: 13px;
  max-width: 250px;
  color: var(--granite-gray);
}

.subscribeFormButton {
  font-family: var(--font-poppins), sans-serif;
  border: none;
  background-color: var(--black);
  font-weight: 500;
  font-size: 12px;
  padding: 10px 22px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media (max-width: 360px) {
  .container {
    padding: 20px;
    padding-bottom: 35px;
  }
  .contentContainer {
    flex-wrap: wrap;
    gap: 0px;
    padding: 0;
    padding-top: 30px;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 30px;
    font-size: 12px;
  }

  .contentContainer > :first-child {
    margin: 0;
  }

  .contentContainer > :last-child {
    margin: 0;
  }

  .sectionContainer {
    padding: 0;
    max-width: 50%;
    gap: 20px;
  }

  .sectionField {
    flex-direction: column;
    gap: 12px;
    padding: 0;
  }

  .sectionHeader {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
  }

  .subscribeForm {
    min-width: 100%;
    padding: 14px;
    padding-right: 30px;
  }

  .subscribeFormHeader {
    font-size: 16px;
    line-height: 26px;
    padding: 0;
  }

  .subscribeFormInput {
    font-size: 11px;
  }
}
