@use "@variables" as *;
@use "@utils" as *;

.container {
  width: 100%;
  background-color: $black;
  color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: to-rem(20px) to-rem(20px) to-rem(35px) to-rem(20px);
}

.logo {
  font-family: var(--font-inter), sans-serif;
  font-weight: 800;
  font-size: to-rem(36px);
  padding-bottom: to-rem(20px);
}

.contentContainer {
  font-family: var(--font-poppins), sans-serif;
  display: flex;
  border-top: to-rem(1px) solid $white;
  width: 100%;
  flex-wrap: wrap;
  padding-top: to-rem(30px);
  justify-content: space-between;
  column-gap: to-rem(20px);
  row-gap: to-rem(30px);
  font-size: to-rem(12px);
}

.contentContainer > :first-child {
  margin: 0;
}

.contentContainer > :last-child {
  margin: 0;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: to-rem(15px);
}

.sectionField {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: to-rem(12px);
}

.sectionHeader {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  font-size: to-rem(16px);
  line-height: to-rem(26px);
}

.addressStyle {
  text-wrap: auto;
  max-width: to-rem(160px);
}

.sectionText {
  border-bottom: to-rem(1px) solid transparent;
  transition: border-color 0.3s ease;
  width: max-content;
  &:hover {
    border-color: currentColor;
  }
}

.subscribeForm {
  display: flex;
  flex-direction: column;
  background-color: $chinese-black;
  border-radius: to-rem(10px);
  max-width: to-rem(400px);
  align-self: flex-start;
  gap: to-rem(20px);
  min-width: to-rem(320px);
  padding: to-rem(14px) to-rem(30px) to-rem(14px) to-rem(14px);
}

.subscribeFormHeader {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  font-size: to-rem(16px);
  line-height: to-rem(26px);
}

.subscribeFormInput {
  outline: 0 !important;
  border-top-left-radius: to-rem(4px);
  border-bottom-left-radius: to-rem(4px);
  border: none;
  padding-left: to-rem(10px);
  color: $granite-gray;
  background-color: $dark-gray;
  width: 100%;
  font-size: to-rem(11px);
}

.subscribeFormInputContainer {
  display: flex;
}

.subscribeFormInfo {
  text-wrap: "auto";
  font-family: var(--font-manrope), sans-serif;
  font-weight: 500;
  font-size: to-rem(13px);
  max-width: to-rem(250px);
  color: $granite-gray;
}

.subscribeFormButton {
  font-family: var(--font-poppins), sans-serif;
  border: none;
  background-color: $black;
  font-weight: 500;
  font-size: to-rem(12px);
  padding: to-rem(10px) to-rem(22px);
  border-top-right-radius: to-rem(4px);
  border-bottom-right-radius: to-rem(4px);
}

@media (min-width: 1024px) {
  .container {
    padding: to-rem(40px) to-rem(40px) to-rem(46px) to-rem(40px);
  }

  .addressStyle {
    max-width: to-rem(280px);
  }

  .svgWrapper {
    min-width: to-rem(24px);
    min-height: to-rem(24px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contentContainer {
    gap: to-rem(20px);
    flex-wrap: nowrap;
    font-size: to-rem(16px);
  }

  .sectionContainer {
    padding-top: to-rem(10px);
    gap: to-rem(24px);
    max-width: 100%;
  }

  .sectionField {
    gap: to-rem(25px);
    flex-direction: row;
  }

  .sectionHeader {
    font-size: to-rem(18px);
    margin-bottom: -to-rem(4px);
    line-height: normal;
  }

  .subscribeForm {
    padding: to-rem(14px) to-rem(14px) to-rem(21px) to-rem(14px);
    min-width: to-rem(305px);
  }

  .subscribeFormHeader {
    font-size: to-rem(18px);
    padding-bottom: to-rem(10px);
    line-height: normal;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: to-rem(80px) to-rem(80px) to-rem(46px) to-rem(80px);
  }

  .contentContainer {
    padding: to-rem(20px) to-rem(0px) to-rem(20px) to-rem(20px);
    gap: to-rem(60px);
    justify-content: flex-start;
  }

  .contentContainer > :first-child {
    margin-right: auto;
  }

  .contentContainer > :last-child {
    margin-left: auto;
  }
}
